
<div class="page page-table" data-ng-controller="creditCardCtrl">

	<div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    
    <div class="signin-header">
        <section class="text-center">
            <h2><span data-i18n="lb_credit_card_list"></span></h2>
        </section>
    </div>
    
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>

	<div class="row">
		<div class="col-sm-6 text-left">
			<button type="button" class="btn btn-success btn-w-xs" ng-click="exclude()"><span data-i18n="lb_delete"></span></button>
		</div>
		<div class="col-sm-6 text-right" data-ng-controller="modalCtrl">
			<script type="text/ng-template" id="creditCardModalContent.html">
            	<div class="modal-header">
                	<h3><span data-i18n="lb_credit_card_registration"></span></h3>
                </div>
                <div class="modal-body">
	            	<div class="row" style="border:0px solid #000">
    	            	<div class="col-md-10 col-md-offset-1" style="border:0px dotted #000">
	    	                <form class="form-horizontal" role="form">
    	    	                <div class="form-group">
        	    	                <label for="cardName" class="col-sm-3 control-label" style="border:0px dotted #000"><span data-i18n="lb_name"></span></label>
            	    	            <div class="col-sm-8">
                	    	            <input type="text" class="form-control" id="cardName" data-ng-model="card.name" required>
                    	    	    </div>
	                        	</div>
		                        <div class="form-group">
    		                        <label for="expireOn" class="col-sm-3 control-label" style="border:0px dotted #000"><span data-i18n="lb_expire_on"></span></label>
        		                    <div class="col-sm-3">
            		                    <input type="text" class="form-control" id="expireOn" data-ng-model="card.expire" required >
                		            </div>
                    		    </div>
								<div class="form-group">
    		                        <label for="payDay" class="col-sm-3 control-label" style="border:0px dotted #000"><span data-i18n="lb_bill_pay_day"></span></label>
        		                    <div class="col-sm-2">
            		                    <input type="text" class="form-control" id="payDay" data-ng-model="card.payday" required >
                		            </div>
                    		    </div>
								<div class="form-group">
    		                        <label for="lastDay" class="col-sm-3 control-label" style="border:0px dotted #000"><span data-i18n="lb_last_day_to_buy"></span></label>
        		                    <div class="col-sm-2">
            		                    <input type="text" class="form-control" id="lastDay" data-ng-model="card.lastDayToBuy" required>
                		            </div>
                    		    </div>
                    		</form>  
		                </div>	
   			         </div>
                </div>
                <div class="modal-footer">
                	<button class="btn btn-primary" ng-click="save()"><span data-i18n="lb_save"></span></button>
                    <button class="btn btn-warning" ng-click="cancel()"><span data-i18n="lb_cancel"></span></button>
                </div>
            </script>
			<button type="button" class="btn btn-success btn-w-xs" ng-click="open()"><span data-i18n="lb_new"></span></button>
		</div>
	</div>
	<div class="divider"></div>
    <section class="panel panel-default table-dynamic">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                	<th style="width:5px"></th>
                    <th>
                    	<div class="th">
                        	<span data-i18n="lb_name"></span>
	                        <span class="fa fa-angle-up"  data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                        	<span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                    	</div>
                    </th>
                    <th>
                    	<div class="th">
                        	<span data-i18n="lb_last_day_to_buy"></span>
                        	<span class="fa fa-angle-up" data-ng-click=" order('lastDay') " data-ng-class="{active: row == 'lastDay'}"></span>
                        	<span class="fa fa-angle-down" data-ng-click=" order('-lastDay') " data-ng-class="{active: row == '-lastDay'}"></span>
                    	</div>
                    </th>
                    <th>
                    	<div class="th">
                        	<span data-i18n="lb_bill_pay_day"></span>
                        	<span class="fa fa-angle-up" data-ng-click=" order('billPayDay') " data-ng-class="{active: row == 'billPayDay'}"></span>
                        	<span class="fa fa-angle-down" data-ng-click=" order('-billPayDay') " data-ng-class="{active: row == '-billPayDay'}"></span>
                    	</div>
                    </th>
                    <th style="width:5px"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="card in currentPageCards">
                	<td><input type="checkbox" name="selectedCards[]" value="{{card.id}}" ng-checked="cardsToDelete.indexOf(card.id) > -1" ng-click="toggleSelection(card.id)" class="toggle-task ng-pristine ng-valid"></td>
                    <td>{{card.name}}</td>
                    <td>{{card.lastDayToBuy}}</td>
                    <td>{{card.payday}}</td>
                    <td><a href="javascript:;" ng-click="edit(card.id)" class="btn-icon-lined btn-icon-round btn-icon-sm btn-success"><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        <span data-i18n="lb_show"></span>
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        <span data-i18n="lb_entries_page"></span>
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredCards.length"
                                max-size="5"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true">
                    </pagination>
                </div>
            </div>
        </footer>
    </section>
</div>