
<div class="page page-table" data-ng-controller="creditCardCtrl">

	<div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    
    <div class="signin-header">
        <section class="text-center">
            <h2><span data-i18n="lb_credit_card_list"></span></h2>
        </section>
    </div>
    
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>

	<div class="row">
		<div class="col-sm-6 text-left">
			<button type="button" class="btn btn-success btn-w-xs" data-ng-click="exclude()"><span data-i18n="lb_delete"></span></button>
		</div>
		<div class="col-sm-6 text-right" >
			<button type="button" class="btn btn-success btn-w-xs" data-ng-click="newCard()"><span data-i18n="lb_new"></span></button>
		</div>
	</div>
	<div class="divider"></div>
    <section class="panel panel-default table-dynamic">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                	<th style="width:5px"></th>
                    <th>
                    	<div class="th">
                        	<span data-i18n="lb_name"></span>
	                        <span class="fa fa-angle-up"  data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                        	<span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                    	</div>
                    </th>
                    <th class="col-sm-2">
                    	<div class="th">
                        	<span data-i18n="lb_last_day_to_buy"></span>
                    	</div>
                    </th>
                    <th class="col-sm-2">
                    	<div class="th">
                        	<span data-i18n="lb_bill_pay_day"></span>
                    	</div>
                    </th>
                     <th class="col-sm-1">
                    	<div class="th">
                        	<span data-i18n="lb_expire_on"></span>
                    	</div>
                    </th>
                    <th style="width:5px"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="card in currentPageCards">
                	<td><input type="checkbox" name="selectedCards[]" value="{{card.id}}" ng-checked="cardsToDelete.indexOf(card.id) > -1" ng-click="toggleSelection(card.id)" class="toggle-task ng-pristine ng-valid"></td>
                    <td>{{card.name}}</td>
                    <td>{{card.lastDayToBuy}}</td>
                    <td>{{card.payday}}</td>
                    <td>{{card.expire}}</td>
                    <td><a href="javascript:;" ng-click="edit(card)" class="btn-icon-lined btn-icon-round btn-icon-sm btn-success"><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        <span data-i18n="lb_show"></span>
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        <span data-i18n="lb_entries_page"></span>
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredCards.length"
                                max-size="5"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true">
                    </pagination>
                </div>
            </div>
        </footer>
    </section>
</div>