<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.mconnti.moneymanager" />
	
	<bean class="com.mconnti.moneymanager.context.SpringApplicationContext"/>

	<bean id="countryBO" class="com.mconnti.moneymanager.business.impl.CountryBOImpl"/>
	<bean id="stateBO" class="com.mconnti.moneymanager.business.impl.StateBOImpl"/>
	<bean id="cityBO" class="com.mconnti.moneymanager.business.impl.CityBOImpl"/>
	<bean id="userBO" class="com.mconnti.moneymanager.business.impl.UserBOImpl"/>
	<bean id="currencyBO" class="com.mconnti.moneymanager.business.impl.CurrencyBOImpl"/>
	<bean id="typeAccountBO" class="com.mconnti.moneymanager.business.impl.TypeAccountBOImpl"/>
	<bean id="typeClosureBO" class="com.mconnti.moneymanager.business.impl.TypeClosureBOImpl"/>
	<bean id="descriptionBO" class="com.mconnti.moneymanager.business.impl.DescriptionBOImpl"/>
	<bean id="creditCardBO" class="com.mconnti.moneymanager.business.impl.CreditCardBOImpl"/>
	<bean id="configBO" class="com.mconnti.moneymanager.business.impl.ConfigBOImpl"/>
	<bean id="registerBO" class="com.mconnti.moneymanager.business.impl.RegisterBOImpl"/>
	<bean id="closureBO" class="com.mconnti.moneymanager.business.impl.ClosureBOImpl"/>
	<bean id="planningBO" class="com.mconnti.moneymanager.business.impl.PlanningBOImpl"/>
	<bean id="planningGroupBO" class="com.mconnti.moneymanager.business.impl.PlanningGroupBOImpl"/>
	<bean id="planningItemBO" class="com.mconnti.moneymanager.business.impl.PlanningItemBOImpl"/>
	<bean id="roleBO" class="com.mconnti.moneymanager.business.impl.RoleBOImpl"/>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:jboss/datasources/MmanagerDS</value>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

</beans>