<div class="page" data-ng-controller="defaultValuesCtrl">
	<div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    
    <div class="signin-header">
        <section class="text-center">
            <h2><span data-i18n="lb_default_values"></span></h2>
        </section>
    </div>
    
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    
    
    <div class="row">
    	<div class="col-md-5">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	                <h3 class="panel-title">Inputs</h3>
	            </div>
		    	<div class="panel-body panel-default text-center">
	            	<form class="form-horizontal" role="form">
	                        <div class="form-group">
	                            <label for="currency" class="col-sm-4 control-label"><span  data-i18n="lb_currency"></span></label>
	                            <span class="ui-select">
			                        <select ng-model="config.currency" id="currency" ng-options="currency.id as currency.acronym for currency in currencies">
									    <option value="" >Select...</option>
									</select>
								</span>
	                        </div>
			            	<div class="form-group">
	                            <label for="closure" class="col-sm-4 control-label"><span data-i18n="lb_type_closure"></span></label>
	                            <span class="ui-select">
			                        <select ng-model="config.typeClosure" id="closure" ng-options="type.id as type.type for type in typeClosures">
								    <option value="" >Select...</option>
								</select>
								</span>
	                        </div>
					</form>					
				</div>
			</div>
		</div>
		<div class="col-md-5">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	                <h3 class="panel-title">Charts</h3>
	            </div>
		    	<div class="panel-body panel-default text-center">
		    	</div>
		    </div>
		</div>
	</div>
	<div class="divider"></div>
    <div class="divider"></div>
	<div class="row" >
		<div class="text-center">
			<button class="btn btn-w-md btn-gap-v btn-primary" type="submit" data-ng-click="save(user)"><span data-i18n="lb_save"></span></button>
		    <button class="btn btn-w-md btn-gap-v btn-primary" type="reset" data-ng-click="save(user)"><span data-i18n="lb_cancel"></span></button>
		</div>
    </div>
</div>