<div class="page page-invoice" data-ng-controller="defaultValuesCtrl">

    <div class="signin-header">
        <section class="logo text-center">
            <h2>{{main.brand}}</h2>
        </section>
    </div>

    <div class="signup-body">
        <div class="container">
            <div class="form-container" data-ng-controller="userCtrl">

                <section>
                    <form class="form-horizontal text-left" name="form_signup" data-ng-submit="submitForm()" data-ng-controller="signupCtrl">
                    	<div class="alert alert-warning" data-ng-show="showInfoOnSubmit"  >{{message}}</div>
                    	<div class="input-group">
                            <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                            <input  type="text"
                                    class="form-control"
                                    data-i18n="i18n-placeholder"
                                    placeholder="lb_name"
                                   	name="user.name"
                                    data-ng-model="user.name"
                                    required>
                        </div>
                        <div class="divider"></div>
                        <div class="input-group">
                    		<span class="input-group-addon "><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" class="form-control" 
                            		data-i18n="i18n-placeholder"
                                    placeholder="lb_email"
                                   	name="user.email"
                                    data-ng-model="user.email"
                                    required>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
			                <div class="col-sm-6">
		                        <div class="input-group" data-ng-controller="DatepickerDemoCtrl">
		                            <span class="input-group-addon"><span class="glyphicon glyphicon-gift"></span></span>
		                            <div class="input-group ui-datepicker">
				                        <input type="text" 
				                        	   class="form-control"
				                               datepicker-popup="{{format}}"
				                               is-open="opened"
				                               min="minDate"
				                               datepicker-options="dateOptions" 
				                               date-disabled="disabled(date, mode)"
				                               ng-required="true" 
				                               close-text="Close"
				                               data-i18n="i18n-placeholder"
			                                   placeholder="lb_birth_date"
			                                   name="user.birthDate"
			                                   data-ng-model="user.birthDate"
			                                   required>
				                        <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
				                    </div>
				                 </div>
				            </div> 
                        </div>
                        <div class="divider"></div>
                        <div class="input-group">
				            <dl class="dl-horizontal">
				                <dt><span data-i18n="lb_language"></span></dt>
				                <dd>
				                    <label class="ui-radio"><input name="user.language" type="radio" data-ng-model="user.language" value="en"><span data-i18n="lb_english"></span></label>
				                    <label class="ui-radio"><input name="user.language" type="radio" data-ng-model="user.language" value="pt_br"><span data-i18n="lb_portuguese"></span></label>
				                </dd>
				            </dl>				
				        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input  type="text"
                                    class="form-control"
                                    data-i18n="i18n-placeholder"
                                    placeholder="lb_username"
                                   	name="user.username"
                                    data-ng-model="user.username"
                                    required>
                        </div>
                        <div class="divider"></div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password"
                                   class="form-control"
                                   data-i18n="i18n-placeholder"
                                   placeholder="lb_password"
                                   name="user.password"
                                   data-ng-model="user.password"
                                   required>
                        </div>
                        <div class="divider"></div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password"
                                   class="form-control"
                                   data-i18n="i18n-placeholder"
                                   placeholder="lb_password"
                                   name="user.confirmPassword"
                                   data-ng-model="user.confirmPassword"
                                   required>
                        </div>
                        <div class="divider"></div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="text"
                                   class="form-control"
                                   data-i18n="i18n-placeholder"
                                   placeholder="lb_secret_phrase"
                                   name="user.secretPhrase"
                                   data-ng-model="user.secretPhrase"
                                   required>
                        </div>
						<div class="divider"></div>
                        <div class="form-group">
                            <div class="divider"></div>
                            <button class="btn btn-primary btn-lg btn-round btn-block text-center" 
                        		type="submit" data-ng-disabled="!canSubmit()" data-ng-click="save(user)"><span data-i18n="lb_sign_up"></span></button>
                        </div>
                    </form>
                </section>

                <section>
                    <p class="text-center text-muted"><span data-i18n="lb_already_have_account"></span> <a href="#/pages/signin" ><span data-i18n="lb_login_now"></span></a></p>
                </section>

            </div>
        </div>
    </div>
</div>