<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
	<context:component-scan base-package="com.library" />
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"><value>/WEB-INF/jdbc.properties</value></property>
	</bean>
	
	<bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" >	
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"><value>${jdbc.url}</value></property>  
	    <property name="user"><value>${jdbc.username}</value></property>  
        <property name="password"><value>${jdbc.password}</value></property> 
        
        <property name="acquireIncrement" value="1" />
        <property name="minPoolSize" value="5" />
        <property name="maxPoolSize" value="30" />
		<property name="maxStatements" value="50" />
		<property name="maxIdleTime" value="1800" />
	</bean>
	
	
  	<bean id="JDBCDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
   		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
   		<property name="url"><value>${jdbc.url}</value></property>  
	    <property name="username"><value>${jdbc.username}</value></property>  
        <property name="password"><value>${jdbc.password}</value></property> 
    </bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
				<!-- 
					Specific properties for Hibernate are in persistence.xml file, 
					but also can be placed here and removed from persistence.xml file.  
				-->
			</bean>
		</property>
		<property name="dataSource" ref="pooledDataSource" />
		<property name="persistenceUnitName" value="library_PU"/> 
	</bean>

	<bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />		
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

</beans>